<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<form class="jumbotron" id="startGame" method="GET">
    <div class="h1 text-center">{{title}}</div><br>
    <div class="h4 text-center" for="Game">Game type: {{type}}</div><br>
    <div class="h4 text-center" for="player1"> Player 1: {{player1}}
        bet: {{bet1}}<br><br>
        score: {{score1}}
    </div><br>
    <div class="h4 text-center" for="player2"> Player 2: {{player2}}
        bet: {{bet2}}<br><br>
        score: {{score2}}
    </div><br>
    <div class="h4 text-center" for="player3"> Player 3: {{player3}}
        bet: {{bet3}}<br><br>
        score: {{score3}}
    </div>
</form>